@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<div class="text-center">
    <h1 class="display-4">League of Bets</h1>
</div>
<section>
    @if (Model.Account != null)
    {
        <h2 class="text-center">Your balance: @Model.Account.Balance</h2>
    }
    else
    {
        <p class="text-danger">There is an issue with the betting service. Try again later.</p>
    }
</section>
<section>
    <table id="matches-table">
        <thead>
        <tr>
            <th>Match</th>
            <th>Date</th>
            <th>Score</th>
            <th>Game format</th>
            <th>Bet</th>
        </tr>
        </thead>
        @if (Model.Matches != null)
        {
            @foreach (var match in Model.Matches.OrderByDescending(m => m.StartDateTime))
             {
                 <tr>
                     <td>
                         <p>@match.StartDateTime</p>
                     </td>
                     <td>
                         <div class="match-grid">
                             <img class="img-fluid match-logo-blue" src="@match.BlueTeamLogoUrl" />
                             <h3 class="match-header">@match.BlueTeamName VS @match.RedTeamName</h3>
                             <img class="img-fluid match-logo-red" src="@match.RedTeamLogoUrl" />
                         </div>
                     </td>
                     <td>
                         <p>@match.BlueScore - @match.RedScore</p>
                     </td>
                     <td>
                         <p>Best of @match.BestOf</p>
                     </td>
                     <td>
                         @if (!match.IsFinished)
                         {
                             if (Model.StakesByMatchId != null)
                             {
                                 foreach (var stake in Model.StakesByMatchId[match.Id])
                                 {
                                     <form method="post">
                                         <div class="form-group">
                                             <input hidden asp-for="SelectedStakeId" value="@stake.Id"/>
                                             <button type="submit" class="btn btn-primary form-inline">
                                                 @match.BlueTeamName @stake.BlueScore - @stake.RedScore @match.RedTeamName <br/> 
                                                 Bet 100, Win @((100 * stake.Ratio).ToString("0.00"))
                                             </button>
                                         </div>
                                     </form>
                                 }
                             }
                             else
                             {
                                 <p class="text-danger">Error</p>
                             }
                         }
                         else
                         {
                             <p>Match finished</p>
                         }
                     </td>
                 </tr>
             }
        }
        else
        {
            <p class="text-danger">There is an issue with the match service. Try again later.</p>
        }
    </table>
</section>

@if (Model.Matches != null)
{
    <script>
        document.addEventListener("DOMContentLoaded",
            () => {
                $("#matches-table").DataTable({
                    "order": [[0, "desc"]]
                });
            });
    </script>
}
<script>
    setTimeout(
        () => {
            window.location.reload(true);
        },
        5000);
</script>